*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

p,
h1,
h2,
h3 {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ebebeb;
  background-color: #000;
  background-image: url("../image/background.jpg");
  background-repeat: no-repeat; }

.container {
  width: 1200px;
  margin: 0 auto; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.header {
  min-height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__logo {
    width: 250px; }
    .header__logo-description {
      font-size: 13px;
      font-weight: 500; }
  .header__cart {
    margin-bottom: 12px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: auto;
    width: 32px;
    height: 30px; }
    .header__cart-quantity {
      font-size: 16px;
      font-weight: 400;
      position: absolute;
      top: 0;
      left: 50%; }

.navigation {
  width: 660px;
  margin-left: 160px; }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-transform: uppercase;
    text-decoration: none; }
  .navigation__item {
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navigation__item--active {
      color: #e42320;
      font-size: 24px;
      font-weight: 900; }
  .navigation__link {
    text-decoration: none;
    color: #ebebeb;
    font-weight: 700;
    -webkit-transition: .4s all;
    transition: .4s all; }
    .navigation__link:hover {
      color: #e42320;
      text-decoration: underline; }
    .navigation__link:active {
      color: #575757; }

.main-index__banner {
  width: 100%; }
.main-index__about-us {
  margin-top: 120px; }
.main-index__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #868686; }
.main-index__title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px; }
.main-index__features {
  margin-top: 110px; }
.main-index__partners {
  margin-top: 120px;
  margin-bottom: 120px; }

.results .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.results__list {
  width: 820px;
  min-height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-top: -170px;
  background-color: #1b1b1b;
  padding-left: 60px;
  padding-right: 60px; }
.results__title {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase; }
.results__description {
  font-size: 18px;
  font-weight: 400; }

.about-us__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.about-us__text {
  width: 580px;
  padding-top: 50px;
  padding-bottom: 60px; }
.about-us__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }
  .about-us__paragraph--first {
    margin-top: 40px;
    margin-bottom: 30px; }
.about-us__picture {
  width: 530px; }
.about-us__link {
  margin-top: 15px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 248px;
  height: 60px;
  background-color: #e42320;
  border: none;
  color: #ebebeb;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all; }
  .about-us__link:hover {
    background-color: #1b1b1b; }
  .about-us__link:active {
    color: #575757;
    background-color: #393939; }

.features__title {
  margin-bottom: 30px; }
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.features__item {
  width: 275px;
  min-height: 290px;
  padding: 0 20px;
  padding-top: 40px;
  border: 1px solid rgba(134, 134, 134, 0.6); }
.features__icon {
  width: 47px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: bottom; }
  .features__icon--technics {
    background-image: url("../icon/technics.svg"); }
  .features__icon--team {
    background-image: url("../icon/team.svg"); }
  .features__icon--prize {
    background-image: url("../icon/prize.svg"); }
  .features__icon--result {
    background-image: url("../icon/result.svg"); }
.features__description {
  margin-top: 25px;
  font-weight: 400; }

.partners__title {
  margin-bottom: 45px; }
.partners__slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  height: 119px !important;
  outline: none !important; }
.partners__logotype {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .2s all;
  transition: .2s all; }
  .partners__logotype:hover {
    -webkit-filter: none;
            filter: none;
    cursor: pointer; }

.contacts {
  position: relative;
  min-height: 350px;
  padding-top: 80px; }
  .contacts__list {
    width: 510px;
    min-height: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between; }
  .contacts__item {
    width: 232px; }
    .contacts__item--social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
  .contacts__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px; }
  .contacts__link {
    color: #ebebeb;
    text-decoration: none;
    -webkit-transition: .4s all;
    transition: .4s all; }
    .contacts__link:hover {
      color: #e42320;
      text-decoration: underline; }
    .contacts__link:active {
      color: #575757; }
  .contacts__social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #ebebeb;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: .4s all;
    transition: .4s all; }
    .contacts__social-link--twitter {
      background-image: url("../icon/twitter.svg"); }
    .contacts__social-link--facebook {
      background-image: url("../icon/facebook.svg"); }
    .contacts__social-link:hover {
      background-color: #e42320;
      border: none; }
    .contacts__social-link:active {
      background-color: #393939;
      border: none; }
  .contacts__form {
    position: absolute;
    top: 40px;
    right: 130px;
    z-index: 2; }

.map {
  width: 100%;
  height: auto; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
  height: 590px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1b1b1b; }
  .form__legend {
    font-weight: 700; }
  .form__input {
    height: 45px;
    width: 360px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(134, 134, 134, 0.4);
    outline: none;
    color: #868686; }
    .form__input::-webkit-input-placeholder {
      color: #868686; }
    .form__input:-ms-input-placeholder {
      color: #868686; }
    .form__input::-ms-input-placeholder {
      color: #868686; }
    .form__input::placeholder {
      color: #868686; }
  .form__textarea {
    width: 360px;
    height: 110px;
    padding: 15px;
    resize: none;
    background-color: transparent;
    color: #868686;
    outline: none;
    border: 1px solid rgba(134, 134, 134, 0.4); }
  .form__button {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 248px;
    height: 60px;
    background-color: #e42320;
    border: none;
    color: #ebebeb;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: .3s all;
    transition: .3s all;
    width: 160px; }
    .form__button:hover {
      background-color: #1b1b1b;
      border: 1px solid rgba(134, 134, 134, 0.4); }
    .form__button:active {
      color: #575757;
      background-color: #393939; }
