@mixin button {
    
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 248px;
    height: 60px;
    background-color: $second;
    border: none;
    color: $main;   
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: .3s all;

}

@mixin button_hover {
    background-color: $hover-bg;
    border: 1px solid rgba(134, 134, 134, 0.4);    
}

@mixin button_active {

    color: $disable-txt;
    background-color: $disable-bg;

}