.additional {

    // margin-bottom: 125px;

    &__header {

        font-size: 24px;
        font-weight: 900;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        margin-bottom: 15px;
        // text-align: center;

    }

    &__tab-list {

        display: flex;
        // justify-content: center;
        margin-bottom: 50px;

    }

    &__tab-item {

        margin-right: 25px;
        transition: .2s all;

        &--active {

            background-image: linear-gradient(rgba(151, 151, 151, 0.2) 0%, rgba(9, 9, 9, 0.2) 100%);        

        }

    }

    &__tab-button {
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 214px;
        height: 78px;
        font-weight: 700;
        letter-spacing: 0.2px;
        background: transparent;
        border: none;
        color: $main;
        cursor: pointer;
        outline: none;
        transition: .2s all;
        text-transform: uppercase;

        &:hover {

            background-image: linear-gradient(rgba(151, 151, 151, 0.2) 0%, rgba(9, 9, 9, 0.2) 100%);        

        }

        &[disabled] {

            background-image: none;
            cursor: default; 
            color: $disable-bg;           

        }

        &[disabled] .additional__tab-icon path {

            fill:$disable-bg;

        }

    }

    &__tab-icon {

        margin-right: 8px;

    }

    &__services {

        &-list {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }

        &-item {

            display: flex;
            width: 346px;
            height: 219px;
            background-color: $hover-bg;
            margin-bottom: 25px;

        }

        &-wrap {

            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 33px 0;
            padding-left: 27px;

        }

        &-desc {

            width: 182px;
            font-size: 14px;
            font-weight: 400;
            line-height: 18.2px;

        }

        &-container {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: auto;
            // padding-right: 25px;
            height: 58px;
            width: 100%;

        }

    }

    &__button {

        width: 140px;
        height: 26px;
        padding: 0;
        color: $main;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 15.6px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        // transition: .2s all;

        &:hover {

            color: $active;

        }

        &:hover .additional__button--active {

            fill: $active;

        }

        &:hover .additional__button--active-2 {

            stroke: $active;

        }

        &:active {

            color: $disable-txt;

        }

        &:active .additional__button--active {

            fill: $disable-txt;

        }

        &:active .additional__button--active-2 {

            stroke: $disable-txt;

        }

        &--service {

            margin-top: auto;

        }

        & span {

            margin-left: 7px;
            padding-top: 9px;

        }

        &[disabled] {

            background-image: url('../icon/done.svg');
            background-repeat: no-repeat;
            background-position: left center;
            cursor: default;

            svg {

                display: none;

            }

            span {

                display: none;
            }

        }

    }

    &__price {

        font-size: 14px;
        font-weight: 700;
        line-height: 18.2px;

        // &--service {

        //     width: 115px;

        // }

        &--details {

            width: 100%;

        }

    }

    &__details {

        &-list {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }

        &-item {

            width: 224px;
            height: 219px;
            background-color: $hover-bg;
            margin-bottom: 25px;

            &--invisible {

                background: transparent;

            }

        }

        &-image {

            width: 100px;
            height: 89px;
            display: flex;
            align-items: flex-end;
            justify-content: center;

        }

        &-wrap {

            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 25px;
            padding-bottom: 25px;


        }

        &-header {

            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.2px;
            width: 100%;
            margin: 8px 0;

        }

        &-container {

            width: 100%;
            height: 26px;
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

    }

    &__learnmore-link {

        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.2px;
        color: $main;
        transition: .2s all;

        &:hover {

            color: $active;

        }

        &:active {

            color: $disable-txt;

        }

    }

    &__list {

        display: none;

        &--active {

            display: flex;

        }

    }

  
}

@media (max-width: 480px) {

    .additional {

        &__header {

            font-size: 14px;
            line-height: 18px;
            margin-bottom: 24px;
            text-align: center;

        }

        &__tab-list {

            justify-content: center;
            margin-bottom: 24px;

        }

        &__tab-item {

            background: transparent;
            margin-right: 46px;
            width: 56px;
            height: 60px;

            &--active {

                background: transparent;

                & .additional__tab-button .additional__tab-icon path {

                    fill: $main; 

                }

                & .additional__tab-button {

                    color: $main;

                }

            }

            &:last-child {

                margin-right: 0;

            }

        }

        &__tab-button {

            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            line-height: 18px;
            padding: 0;
            color: $disable-bg;
            z-index: 999;

            & .additional__tab-icon path {

             fill: $disable-bg;    

            }

            &:hover {

                background: transparent;

            }

        }

        &__tab-icon {

            margin: 0;

           

        }

        &__services {

            &-item {

                display: flex !important;
                height: 199px;
                width: 273px;
                margin-right: 10px;

                &--invisible {

                    display: none;

                }

            }

            &-img {

                width: 94px;

            }

            &-wrap {

                padding: 16px;
                padding-right: 5px;

            }

            &-desc {

                font-size: 12px;
                line-height: 15.6px;
                width: 100%;

            }

        }

        &__price {

            font-size: 12px;
            line-height: 15.6px;

        }

        &__details {

            &-item {

            margin-right: 16px;

                &--invisible {

                    display: none;

                }

            }

            &-header {

                font-size: 14px;
                line-height: 18px;

            }

        }

    }

}