.main-technics {

    padding-top: 40px;
    display: flex;

    &__tab-navigation {

        width: 302px !important;
        margin-right: 99px;

    }

    // &__technics {

    //  margin-top: 35px;

    // }

}

@media (max-width: 480px) {

    .main-technics {

        padding-top: 0;

        &__tab-navigation {

            width: 100% !important;
            margin-right: 0;
    
        }

        &__technics {

            margin-top: 0;

        }

    }

    

}