.form-cart {

    margin-top: 40px;
    height: auto;
    padding: 0;
    width: 850px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: transparent;

    &__rent-date {

        margin-top: 55px;
        position: relative;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: none;
        margin-bottom: 69px;

        &::after {

            content: '';
            position: absolute;
            background-image: url('../icon/arrow-right.svg');
            width: 26px;
            height: 8px;
            top: 50%;
            left: 50%;
            transform: translate(-50%);

        }

    }

    &__legend {

        margin-bottom: 28px;

    }

    &__date {

        position: relative;
        width: 387px;
        height: 90px;
        border: 1px solid rgba(134, 134, 134, 0.4);
        background: transparent;
        color: $main;
        font-size: 18px;
        text-transform: uppercase;
        padding-left: 16px;
        padding-bottom: 16px;
        padding-top: 55px;

        &::placeholder {

            color: $main;

        }

        &-wrap  {

            position: relative;

            &::before {

                content: 'Дата начала аренды';
                position: absolute;
                font-size: 14px;
                line-height: 18px;
                color: $third;
                top: 16px;
                left: 16px;

            }

            &::after {

                content: '';
                position: absolute;
                width: 25px;
                height: 27px;
                right: 19px;
                bottom: 19px;
                background-image: url('../icon/calendar.svg');
                z-index: 2;
    
            }

            &--end {

                &::before{

                content: 'Дата окончания аренды';
                
                }

            }

        }

    }

    &__hour-container {

        position: absolute;
        display: flex;
        flex-direction: column;
        right: -260px;
        top: -43px;

        &--none {

            display: none;

        }

    }

    &__hour-title {

        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        margin-bottom: 25px;

    }

    &__hour-desc {

        position: relative;
        font-size: 14px;
        line-height: 18px;
        width: 195px;
        color: $third;
        letter-spacing: 0.2px;  
        margin-top: 12px;  
        padding-left: 10px;

        &::before {

            content: '*';
            position: absolute;
            top: 0;
            left: 0;
            font-size: 14px;
            line-height: 18px;
            color: $third;
            letter-spacing: 0.2px;  

        }

    }

    &__hour-wrap {

        display: flex;
        right: -220px;
        width: 164px;
        height: 90px;
        border: 1px solid rgba(134, 134, 134, 0.4);

        // &::before {

        //     content: 'КОЛИЧЕСТВО ЧАСОВ';    
        //     position: absolute;
        //     width: 186px;
        //     font-size: 18px;
        //     line-height: 18px;
        //     font-weight: 700;
        //     letter-spacing: 0.2px;
        //     top: -47px;
        //     left: 0;

        // }

        // &::after {

        //     content: '* Если срок аренды техники не более чем 1 день';
        //     position: absolute;
        //     font-size: 14px;
        //     line-height: 18px;
        //     width: 200px;
        //     color: $third;
        //     letter-spacing: 0.2px;
        //     bottom: -52px;

        // }

        &--active {

            display: flex;

        }

    }

    &__button-plus,
    &__button-minus {

        width: 40px;
        font-size: 24px;
        color: $main;
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;

        &:hover {

            background: $active;

        }

    }

    &__button-plus[disabled],
    &__button-minus[disabled] {

        color: $disable-txt;
        cursor: default;

        &:hover {

            background: transparent;

        }

    }

    // &__button-minus {

    //     position: relative;

    //     &::before {

    //         content: 'КОЛИЧЕСТВО ЧАСОВ';    
    //         position: absolute;
    //         width: 186px;
    //         font-size: 18px;
    //         line-height: 18px;
    //         font-weight: 700;
    //         letter-spacing: 0.2px;
    //         color: $main;
    //         top: -47px;
    //         left: 0;

    //     }

    //     &::after {

    //         content: '* Если срок аренды техники не более чем 1 день';
    //         position: absolute;
    //         font-size: 14px;
    //         line-height: 18px;
    //         width: 200px;
    //         color: $third;
    //         letter-spacing: 0.2px;
    //         bottom: -52px;
    //         left: 0;
    //         text-align: left;

    //     }    

    // }

    &__input-hour {

        text-align: center;
        width: 84px;
        border: none;
        background: transparent;
        font-size: 24px;
        color: $main;
    }

    &__input {

        width: 387px;

        &-container {

            position: relative;
            margin-bottom: 30px;

        }

        &:focus~.form__label,
        &:not(:focus):valid~.form__label {

        bottom: 32px;
        font-size: 14px;
        line-height: 27px;
        color: $disable-bg;
        opacity: 1;
        
        }

    }

    &__label {

        position: absolute;
        bottom: 8px;
        left: 0;
        color: $third;
        pointer-events: none;
        transition: 0.2s ease all;

    }

    &__textarea {

        width: 100%;
        margin-top: 45px;

    }

    &__button {

        margin-top: 32px;
        width: 175px;
        height: 64px;

    }

}

// .datepicker-here {

//     // width: 100% !important;

// }

@media (max-width: 480px) {

    .form-cart {

        width: 100%;
        height: auto;
        margin-top: 20px;

        &__legend {

            font-size: 13px;
            line-height: 18px;
            font-weight: 700;
            margin-bottom: 16px;

        }

        &__rent-date {

            width: 100%;
            flex-direction: column;
            margin-top: 30px;
            margin-bottom: 32px;

            &::after {

                display: none;

            }

        }

        &__date-wrap {

            width: 100%;

            &::after {

                bottom: 8px;
                right: 16px;

            }

            &--begin {

                margin-bottom: 16px;

            }

            &--end {

                margin-bottom: 0;

            }

        }

        &__date {

            width: 100%;
            height: 69px;
            font-size: 14px;            

        }

        &__hour-container {

            position: static;
            margin-top: 32px;

        }

        &__hour-title {

            font-size: 13px;
            margin-bottom: 16px;

        }

        &__hour-desc {

            font-size: 12px;
            line-height: 15.6px;
            width: 165px;

        }

        &__hour-wrap {

            position: static;
            width: 145px;
            height: 45px;

        }

        &__button-minus,
        &__button-plus {

            width: 50px;

        }

        // &__button-minus {

        //     &::before {

        //         font-size: 13px;
        //         text-align: left;
        //         top: -35px;

        //     }

        //     &::after {

        //         font-size: 12px;
        //         line-height: 15.6px;
        //         width: 165px;
        //         bottom: -43px;

        //     }

        // }

        &__input-hour {

            width: 45px;
            font-size: 14px;
            line-height: 18px;

        }

        &__input-container {

            width: 100%;
            font-size: 14px;

        }

        &__input {

            width: 100%;
            font-size: 14px;
            height: 40px;

        }

        &__textarea {

            margin-top: 0;

        }

        &__button {

            width: 114px;
            height: 40px;
            margin: 0 auto;
            margin-top: 16px;
            font-size: 12px;
            line-height: 18px;

        }

    }

    .datepicker {

        width: 307px;
        min-height: 300px;
        font-size: 14px;

    }

    .datepicker--nav {

        padding-top: 16px;
        padding-bottom: 0;

    }

    .datepicker--nav-title {

        font-size: 14px;

    }

    .datepicker--day-name {

        font-size: 14px;

    }

}

