.services {

    &__list {

        display: flex;
        padding-top: 30px;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    &__item {

        width: 366px;
        height: 544px;
        margin-bottom: 50px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;
        background-color: $hover-bg;

    }

    &__description {
        width: 343px;
        margin-top: 24px;
        margin-bottom: 16px;
        padding-left: 39px;
        line-height: 23.4px;

    }

    &__price {

        font-weight: 700;
        color: $main;
        padding-left: 39px;

    }

    &__button {

        @include button;
        width: 166px;
        height: 64px;
        outline: none;
        margin: 0 auto;
        margin-top: auto;

        &:hover {

            @include button_hover;
        }

        &:active {

            @include button_active;

        }

    }

}

@media (max-width: 460px) {

    .services {

        &__list {

            padding-top: 16px;

        }

        &__item {

            position: relative;
            width: 100%;
            height: 197px;
            padding-left: 130px;
            padding-bottom: 16px;
            padding-right: 15px;
            padding-top: 16px;
            margin-bottom: 16px;

        }

        &__img {

            width: 110px;
            height: 197px;
            position: absolute;
            top: 0;
            left: 0;

        }

        &__description {

            font-size: 12px;
            line-height: 18px;
            padding: 0;
            width: 100%;
            margin: 0;

        }

        &__price {

            margin-top: auto;
            font-size: 13px;
            padding: 0;

        }

        &__button {

            margin: 0;
            margin-top: 16px;
            height: 30px;
            width: 80px;
            font-size: 13px;

        }

    }    

}