.tab-navigation {

    width: 275px;

    &__header {

        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        line-height: 23.4px;

        &--details {

            width: 310px;

        }

    }

    &__list {

        padding-top: 15px;
        padding-bottom: 30px;

    }

    &__item {

        &:hover {
 
            background-image: linear-gradient(rgba(151, 151, 151, 0.2) 0%, rgba(9, 9, 9, 0.2) 100%);

            & .tab-navigation__button-text {

                color: $main;

            }

        }

        &--active {

            background-image: linear-gradient(rgba(151, 151, 151, 0.2) 0%, rgba(9, 9, 9, 0.2) 100%);

            & .tab-navigation__button-text {

                color: $main;

            }

        }

    }

    &__button {

        display: flex;
        align-items: center;
        width: 100%;
        height: 86px;
        background: transparent;
        border: none;
        color: $main;
        padding: 0;
        transition: .3s all;
        cursor: pointer;
        outline: none;

        &-text {

            width: 150px;
            flex-grow: 1;
            text-align: left;
            color: $third;

            &--technics {

                width: 155px;

            }

        }

    }

    &__image-wrap {

        width: 115px;
        margin-right: 16px;

    }

    &__image {

        &--CAT320GC {

            width: 84px;
            height: 69px;

        }

        &--CAT434 {

            width: 96px;
            height: 66px;

        }

        &--CAT426F2 {

            width: 105px;
            height: 78px;

        }

        &--CAT444F2 {

            width: 103px;
            height: 52px;

        }

        &--CATSEM655d {

            width: 87px;
            height: 49px;

        }

        &--CATSEM636d {


            width: 113px;
            height: 76px;

        }

        &--CATTH418D {

            width: 105px;
            height: 70px;

        }

        &--CATD6KLGP {

            width: 97px;
            height: 79px;

        }

        &--CATCS533E {

            width: 98px;
            height: 75px;

        }

        &--RS300 {

            width: 90px;
            height: 39px;

        }

        &--pitchfork {

            width: 80px;
            height: 50px;

        }

        &--BR1850 {

            width: 80px;
            height: 44px;

        }

        &--impulse {

            width: 75px;
            height: 52px;

        }

        &--VP10 {

            width: 65px;
            height: 63px;

        }

        &--crane {

            width: 85px;
            height: 53px;

        }

        &--pallet-forks {

            width: 75px;
            height: 66px;

        }

    }

    &--details {

        width: 310px;

    }

    &__back {

        display: none;

    }

}

@media (max-width: 480px) {

    .tab-navigation {

        width: 100%;
        transition: .5s all;

        &__header {

            font-size: 14px;
            line-height: 18px;

        }

        &__item {

            background: $hover-bg;
            margin-bottom: 24px;

            &:last-child {

                margin-bottom: 0;

            }

            &:hover {

                background: $hover-bg;

            }

        }

        &__image-wrap {

            margin-right: 10px;

        }

        &__button {

            height: 100px;

        }

        &__button-text {

            font-size: 12px;
            color: $main;
            width: 190px;  

            &--technics {

                width: 180px;

            }

        }
        &--none {

            position: fixed;
            transform: translateX(-300%);
            overflow: hidden;

        }

    }

}