.details {

    display: none;

    &__picture {

        &-wrap {

            margin-bottom: 40px;
            height: 300px;
            background-color: $hover-bg;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        // &--pitchfork {

        //     margin-left: 65px;

        // }

        // &--BR1850 {

        //     margin-left: 85px;

        // }

        // &--impulse {

        //     margin-left: 88px;

        // }

        // &--VP10 {

        //     margin-left: 135px;

        // }

        // &--crane {

        //     margin-left: 110px;

        // }

        // &--pallet-forks {

        //     margin-left: 100px;

        // }

    }

    &__header {

        margin-top: 8px;
        margin-bottom: 16px;
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        line-height: 36px;

    }

    &__characteristics {

        &-list {

            width: 740px;
            // min-height: 110px;
            background-color: $hover-bg;
            padding: 16px 0;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 16px;

        }

        &-item {

            // min-height: 58px;
            width: 33%;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            margin-bottom: 33px;
            padding-left: 27px;

            &--last {

                margin-bottom: 0;

            }

            &--center {

                position: relative;

                &::before,
                &::after {

                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 43px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: rgba(134, 134, 134, 0.4);

                }

                &::before {

                    left: 0;

                }

                &::after {

                    right: 0;

                }

            }

        }

        &-description {

            font-size: 18px;
            line-height: 21px;
            font-weight: 400;
            color: $third;
            margin-bottom: 8px;

        }

        &-value {

            font-size: 24px;
            line-height: 28px;
            font-weight: 700;

        }

    }

    &__wrap {

        width: 740px;
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

    }

    &__price {

        max-width: 440px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.2px;

    }

    &__price-wrap {

        height: 100%;

    }

    &__price-note {

        font-size: 14px;
        line-height: 18px;
        font-weight: 400;

        &:first-child {

            margin-bottom: 9px;

        }

    }

    &__price-desc {

        margin-top: 6px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 18.2px;

    }



    &__button {

        @include button;
        width: 166px;
        height: 64px;

        &:hover {

            @include button-hover;

        }

        &:active {

            @include button-active;

        }

    }

    &--active {

        display: block;

    }

}

@media (max-width: 480px) {

    .details {

        position: relative;
        width: 100%;
        transition: .5s all;

        &__picture-wrap {

            width: 100%;
            height: 200px;
            background-color: transparent;

        }

        &__price {

            font-size: 13px;
            line-height: 16px;
            margin-top: 0;

        }

        &__header {

            font-size: 14px;
            line-height: 18px;
            margin-top: 4px;

        }

        &__characteristics-list {

            width: 100%;
            flex-direction: column;
            padding: 8px 16px;

        }

        &__characteristics-item {

            position: relative;
            width: 100%;
            flex-direction: row;
            margin-bottom: 0;
            padding: 16px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:not(:last-child) {

                border-bottom: 1px solid rgba(134, 134, 134, 0.4);

            }

            &--center {

                &::before {

                    display: none;

                }
                &::after {

                    content: '';
                    position: absolute;
                    width: 279px;
                    height: 1px;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 999;
                    border: 1px solid rgba(134, 134, 134, 0.4);

                }

            }

            &::before,
            &::after {

                display: none;

            }

            // &::after {

            //     content: '';
            //     position: absolute;
            //     width: 279px;
            //     height: 1px;
            //     bottom: 0;
            //     left: 50%;
            //     transform: translateX(-50%);
            //     z-index: 999;
            //     border: 1px solid rgba(134, 134, 134, 0.4);

            // }

        }

        &__characteristics-description {

            font-size: 14px;
            line-height: 16px;
            margin-bottom: 0;

        }

        &__characteristics-value {

            font-size: 14px;
            line-height: 16px;

        }

        &__wrap {

            width: 100%;
            height: auto;
            flex-direction: column;
            margin-bottom: 0;

        }

        &__price-wrap {

            width: 100%;

        }

        &__price-note {

            font-size: 11px;
            line-height: 14px;

        }

        &__button {

            width: 105px;
            height: 40px;
            font-size: 12px;
            line-height: 18px;
            margin-top: 16px;

        }

    }

}