.main-details {

    padding-top: 40px;
    display: flex;

    &__tab-navigation {

        width: 310px;
        margin-right: 90px;

    }

}

@media (max-width: 480px) {

    .main-details {

        padding-top: 0;

        &__tab-navigation {

            margin-right: 0;
            width: 100%;
    
        } 

    }

}