.table {

    margin-bottom: 10px;

    &__header {

        width: 280px;
        font-weight: 400;
        text-align: left;

        &--second-cell {

            width: 173px;

        }

        &--pitchfork {

            width: 97px;

            &-second-cell {

                width: 197px;

            }

        }

        &--BR1850 {

            width: 183px;

            &-second-cell {

                width: 230px;

            }

        }

        &--impulse {

            width: 108px;

            &-second-cell {

                width: 156px;

            }

        }

        &--VP10 {

            width: 198px;

            &-second-cell {

                width: 214px;

            }

        }

        &--crane {

            width: 290px;

            &-second-cell {

                width: 220px;

            }

        }

        &--pallet-forks {

            width: 96px;

            &-second-cell {

                width: 198px;

            }

        }

    }

    &__value {

        font-weight: 700;
        width: 173px;

        &--second-cell {

            width: 135px;

        }

        &--pitchfork {

            width: 141px;

        }

        &--BR1850 {

            width: 141px;

        }

        &--impulse {

            width: 141px;

        }

        &--VP {

            width: 168px;

        }

        &--crane {

            width: 132px;

            &-second-cell {

                width: 168px;

            }

        }

        &--pallet-forks {

            width: 141px;

        }


    }

    &__row {

        padding-bottom: 16px;
        height: 37px;

    }

}