.about-us {
    
    &__wrap {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__text {

        width: 580px;
        // padding-top: 50px;
        // padding-bottom: 60px;

    }

    &__paragraph {

        font-size: 18px;
        font-weight: 400;
        line-height: 24px;

        &--first {

            margin-top: 40px;
            margin-bottom: 30px;

        }

    }

    &__picture {

        width: 530px;

    }

    &__link {

        margin-top: 40px;
        @include button;

        &:hover {

            @include button_hover;

        }

        &:active {

            @include button_active;

        }

    }

}

@media (max-width: 960px) {

    .about-us {

        &__picture {

            display: none;

        }

        &__text {

            width: 100%;
            padding-top: 0;
            padding-bottom: 0;

            br {

                display: none;

            }

        }

        &__link {

            font-size: 12px;
            line-height: 18px;
            width: 164px;
            height: 40px;
            margin: 0 auto;
            margin-top: 35px;

        }

    }

}

@media (max-width: 560px) {

    .about-us { 

        &__picture {

            display: none;

        }

        &__paragraph {

            font-size: 14px;

            &--first {

                margin-top: 10px;
                margin-bottom: 10px;

            }

        }

    }

}