.features {

    &__title {

        margin-bottom: 30px;

    }

    &__list {

        width: 100% !important;
        display: flex !important;
        flex-wrap: wrap;
        gap: 35px;
        justify-content: space-between !important;    
    

        .slick-list {

            width: 100% !important;

        }

        // .slick-track {

        //     // width: 100% !important;
        //     // display: flex !important;
        //     // justify-content: space-between !important;    

        // }

    }

    &__item {

        width: 273px !important;
        height: 290px !important;
        padding: 0 20px !important;
        padding-top: 40px !important;
        background-color: #1b1b1b;
        outline: none !important;

        &:last-child {

            margin-right: auto;

        }

    }

    &__icon {

        width: 47px;
        height: 45px;
        background-repeat: no-repeat;
        background-position: bottom;

        &--cat {

            width: 100%;
            background-image: url('../icon/logotype.svg'),
                              url('../image/zeppelin-cat.jpg');
            background-size: 99px 11px,
                             123px 32px;      
            background-position: left center,
                                 right center;                        

        }

        &--technics {

            background-image: url('../icon/technics.svg');

        }

        &--team {

            background-image: url('../icon/team.svg');

        }

        &--alltime {

            background-image: url('../icon/phone.svg');

        }

        &--coub {

            background-image: url('../icon/coub.svg');

        }

        &--result {

            background-image: url('../icon/result.svg');

        }

    }

    &__description {

        margin-top: 25px;
        font-weight: 400;

    }

}

@media (max-width: 1200px) {

    .features {

        &__item {

            &:last-child {

                margin-right: 0;
    
            } 

        }

    }

}

@media (max-width: 960px) {

    .features {

        margin-top: 30px;

        &__item {

            margin-left: 23px !important;

        }

    }

}

@media (max-width: 480px) {

    .features {

        &__list {
    
            .slick-track {
    
                display: inline-block !important;
    
            }
    
        }

        &__item {

            width: 187px !important;
            height: 156px !important;
            font-size: 12px;
            padding: 0 17px !important;
            padding-top: 16px !important;

        }

        &__icon {

            &--cat {

                background-size: 64px 6px,
                                 79px 20px;       

            }

        }

        &__description {

            margin-top: 8px;

            br {

                display: none;

            }

        }

    }

}