.how-to-order {

    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1b1b1b;

    &__list {

        width: 100%;
        min-height: 305px;
        margin-top: 60px;
        padding: 0 55px;
        display: flex; 
        justify-content: space-between;   
        align-items: center;

    }

    &__item {

        position: relative;
        z-index: 999;

        &::after {

            content: '';
            position: absolute;
            height: 1px;
            width: 147px;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            background: $third;
            z-index: -1;

        }

        &--last {

            &::after {

                display: none;

            }

        }


    }

    &__container {

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 187px;
        min-height: 98px;
        text-align: center;

        &--top {

            top: -122px;

        }

        &--bottom {

            top: 85px;

        }

    }

    &__number {

        font-size: 24px;
        line-height: 31.2px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $second;
        color: #fff;

    }

    &__icon {

        margin-bottom: 12px;

    }



    &__link {

        margin: 0 auto;
        margin-top: 60px;

    }

    &__offer {

        width: 862px;
        margin: 0 auto;
        margin-top: 120px;
        text-align: center;
        line-height: 23.4px;

    }


}

@media (max-width: 980px) {

    .how-to-order {

        &__item {

            &::after {

                width: 110px;

            }

        }

    }

}

@media (max-width: 865px) {

    .how-to-order {

        &__offer {

            width: 100%;

        }

    }

}

@media (max-width: 770px) {

    .how-to-order {

        &__item {

            &::after {

                width: 60px;

            }

        }

    }

}

@media (max-width: 710px) {

    .how-to-order {

        &__list {

            flex-direction: column;

        }

        &__item {

            height: 40px;
            width: 100%;
            padding: 0;
            padding: 5px 0;
            margin-bottom: 60px;

            &::after {

                width: 1px;
                height: 48px;
                top: calc(100% + 8px);
                left: 50%;
                transform: translateX(-50%);

            }

        }

        &__container {

            top: 0;
            display: flex;
            align-items: center;
            width: 300px;
            min-height: 40px;
            padding: 5px 0;

        }

        &__number {

            display: none;

        }

        &__icon {

            margin-bottom: 0;
            margin-right: 8px;

        }

        &__description {

            text-align: left;

        }

    }

}

@media (max-width: 480px) {

    .how-to-order {

        &__list {

            margin-top: 24px;
            padding-top: 25px;
            padding-bottom: 25px;
            height: 485px;  
            justify-content: space-between;

        }

        &__item {

            margin-bottom: 0;
            height: 24px;

            &--lg {

                height: 36px;

            }

        }

        &__container {

            width: 178px;
            min-height: 24px;

        }

        &__icon {

            width: 24px;
            height: 24px;

        }

        &__description {

            font-size: 14px;

        }

        &__link {

            margin-top: 32px;

        }

        &__offer {

            margin-top: 48px;
            font-size: 14px;
            text-align: left;
            line-height: 18.2px;
            letter-spacing: 0.2px;

        }

    }

}