.main-index {

    width: 100%;

    &__banner-container {

        min-height: inherit;
        height: inherit;
        display: flex;  
        align-items: flex-end;
        justify-content: flex-end;

    }

    &__header {

        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: -200px;
        width: 990px;
        padding: 40px 80px;
        font-weight: 700;
        letter-spacing: 0.2px;
        font-size: 90px;
        color: #ebebeb;
        background-color: #181818;
        text-transform: uppercase;

        // &-container {

        //     position: absolute;
        //     display: flex;
        //     left: 50%;
        //     bottom: 0;
        //     transform: translateX(-50%);
        //     flex-direction: column;
        //     justify-content: space-between;
        //     min-height: 510px;
        //     z-index: 3;

        // }

     

    }

    &__banner {

        width: 100%;
        // margin-bottom: -4px;
    }

    &__banner-section {

        min-height: 760px;
        height: 100vh;
        margin-top: -160px;
        position: relative;
        z-index: -1;
        background-image: url('../image/main-banner_3.jpg');
        background-size: cover;
        background-position: center center;

    }

    &__about-us {

        margin-top: 120px;

    }

    &__how-to-order {

        margin-top: 120px;

    }

    &__subtitle {

        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        color: #868686;
        text-transform: uppercase;

    }

    &__title {

        margin-top: 10px;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        text-transform: uppercase;

    }

    &__features {

        margin-top: 110px;

    }

    &__partners {

        margin-top: 120px;
        margin-bottom: 120px;

    }

}

@media (min-width: 1921px) {

    .main-index {

        &__banner-section {

            background-image: url('../image/main-banner_3_lg.jpg');    

        }    

    }

}

@media (max-width: 1690px) {

    .main-index {

        &__header {

            margin-right: 0;

        }

    }

}

@media (max-width: 1010px) {

    .main-index {

        &__banner-section {

            height: 800px;

        }

        &__header {

            font-size: 76px;
            width: 835px;

        }

    }

}

@media (max-width:890px) {

    .main-index {

        &__banner-section {

            min-height: 650px;
            height: 650px;

        }

        &__header {

            font-size: 56px;
            width: 660px;

        }  
        
        &__about-us {

            margin-top: 77px;
    
        }

        &__partners {

            margin-top: 66px;

        }

    }

    

}

@media (max-width:730px) {

    .main-index {

        &__header {

            font-size: 24px;
            padding: 15px;
            width: 245px;
            line-height: 120%;

            br {

                display: none;

            }

        }    

        &__banner-section {

            margin-top: -75px;
            min-height: 500px;
            height: 500px;

        }   
        
        &__how-to-order {

            margin-top: 32px;

        }

    }

}

@media (max-width: 640px) {

    .main-index {
        
        &__banner-section {

            min-height: 350px;
            height: 350px;

        }    

    }

}

@media (max-width: 460px) {

    .main-index {
        
        &__subtitle {

            font-size: 8px;
            line-height: 32px;

        }

        &__title {

            font-size: 14px;
            line-height: 18.2px;
            margin-top: 4px;

        }

    }

}


@media (max-width: 460px) {

    .main-index {

        &__banner {

            height: 244px;

        }

        &__banner-section {

            margin-top: -75px;
            min-height: 244px;
            height: 244px;
            background-image: url('../image/main-banner_3_mobile.jpg');

        }  
        
        &__header {

            &-container {

                bottom: -45px;

            }

        }  

    }

}