.partners {

    &__title {

        margin-bottom: 45px;

    }

    &__slider {

        display: flex !important;
        justify-content: space-between !important;

    }

    &__slide {

        width: auto !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        height: 119px !important;
        outline: none !important;
        margin-right: 56px !important;

    }

    &__logotype {

        filter: grayscale(100%);
        transition: .2s all;

        &:hover {

            filter: none;
            cursor: pointer;

        }

        &--victoria {

            padding-bottom: 30px;
        }

        // &--belarusneft {

        //     margin-right: 56px;

        // }

    }

}

@media (max-width: 480px) {

    .partners {

        &__title {

            margin-bottom: 22px;
    
        }

        &__slide {

            height: 60px !important;
            margin-right: 16px !important;

        }

        &__logotype {

            &--victoria {

                padding-bottom: 10px;
            }    

        }

    }

}